<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aite.aitezhongbao">

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.WelcomeActivity" />
        <activity android:name="com.aite.mainlibrary.activity.TabyActivity" />
        <activity android:name=".activity.login.LoginActivity">

            <intent-filter>
                <action android:name="com.aite.aitezhongbao.app.activity.login.LoginActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.aite.mainlibrary.activity.allshopcard.bookhelpdoctorinformation.BookHelpDoctorInformationActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.helpdoctorinformation.HelpDoctorInformationActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allmain.messager.MessagerActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allmoney.banker.BankerActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allchat.ChatActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allmoney.MoneycartActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allmoney.FactMoneyActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allmoney.AddBankcarActvity" />
        <activity android:name="com.aite.mainlibrary.activity.allmain.device.DeviceListActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.helpdoctor.HelpdoctorActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.setting.SettingActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allmain.ElseHelpActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allstep.StepActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allmoney.MoneyUserInformationActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.userinformation.UserInformationActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.sosuser.SosUserActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.PaySettingActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.bindinguser.BindingUserActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.addsosuser.AddSosUserActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.addbindinguser.AddBindingUserActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.bookinformation.BookinformationActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.timebank.TimeBankActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allmain.AddDeviceMainActvity" />
        <activity android:name="com.aite.mainlibrary.activity.allqr.qrcode.QrCodeActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allmain.device.DeviceNumberEditActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.DoctorInfoActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.daytogether.DayTogetherActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.dayinformation.DayInformationActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allmain.buydaytogether.BuyDayTogetherActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.StarDoctorPushActvity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.helpeat.HelpEatActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allmain.device.DeviceInformationActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allanimation.ProgressBaractivity" />
        <activity android:name="com.aite.mainlibrary.activity.allanimation.LoveProgressBaractivity" />
        <activity android:name="com.aite.mainlibrary.activity.allanimation.SleepCircleBarStepViewActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allqr.GetEatQrcodeActvity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.shopcard.ShopCardActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.numberbank.NumberBankActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.minerural.MineRuralActivity" />
        <activity android:name="com.aite.mainlibrary.activity.MineCollectActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.healthbook.HealthBookActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.userinformation.usersafety.UserSafetyActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.choiceeat.ChoiceEatActivity" />
        <activity android:name=".activity.newuser.NewUserActivity" />
        <activity android:name=".activity.findkey.FindKeyActivity" />
        <activity android:name=".activity.usertype.UserTypeActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.seviceshopbook.SeviceShopBookActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.sureshopbook.SureShopBookActivity" />
        <activity android:name=".activity.newusermsg.NewusermsgActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.morningnooneat.MorningNoonEatActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.remembershopbook.RememberShopBookActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.posttimeneed.PostTimeNeedActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.air.AirActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.postairneed.PostAirNeedActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.posthelpdoctor.PostHelpDoctorActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.hekpstart.HekpStartActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.booktimebankinformation.BookTimebankInformationActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allnews.newsinformation.NewsInformationActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.minerunning.MineRunningActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.thingsbook.ThingsbookActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.adressfix.AdressFixActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.LessbodybookActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.addadrress.AddAdrressActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.changeuserinformation.ChangeUserInformationActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.appsettinginformation.AppSettingInformationActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.MinePostBookActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.minepostbookchriend.MinePostBookChriendActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.helpdocotorinformationbook.PostInformationBookActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.getinformationbook.GetInformationBookActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.bookdispute.BookDisputeActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.addhealthbook.AddHealthBookActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.elderhelphouse.ElderHelpHouseActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allsetting.healthbooklist.HealthBookListActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allmain.sendtimebank.SendTimeBankActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.timebankrules.TimeBankRulesActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.talkbook.TalkBookActivity" />
        <activity android:name="com.aite.mainlibrary.activity.allshopcard.numbershop.NumberShopActivity" />

    </application>

</manifest>